/* Booking.html*/
/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #4CAF50;
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Doctor Card Styles */
.doctor-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 15px 0;
    width: 100%;
    max-width: 600px;
    text-align: left;
}

.doctor-card h2 {
    color: #333;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.doctor-card p {
    font-size: 1em;
    color: #555;
    line-height: 1.6;
}

/* Flexbox Container for Experience and Button */
.experience-booking {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.button-container {
    display: flex;
    align-items: center; /* Ensures button is vertically centered */
    
}

/* Button Styles */
.booking-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.booking-button:hover {
    background-color: #45a049;
}

/* Link Styles */
a {
    text-decoration: none;
}