<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Confirmation</title>
    <link rel="stylesheet" href="/static/css/acknow.css">
    <link rel="stylesheet" href="/static/css/nav.css">

</head>
<body>
    <nav>
        <div class="logo-container">
          <img src="path_to_your_logo.png" alt="Logo" class="logo"> <!-- Replace with your logo image path -->
          <a href="phome">
          <span class="site-title">HealthCare</span> <!-- Replace with your site title -->
          </a>
        </div>
          <ul>
              <li><a href="phome">Home</a></li>
              <li><a href="pappointment">My Appointments</a></li>
              <li><a href="tips">Health Tips</a></li>
              <li class="profile">
                <a href="#" onclick="toggleDropdown(event)">
                  <img src="/static/images/user_pr.png" alt="user_profile" class="user_profile">
                </a>
                <div class="dropdown-menu">
                  <a href="user_profile">User Profile</a>
                  <a href="plogout">Logout</a>
                </div>
              </li>
          </ul>
      </nav>
    <div class="container" id="acknowledgment-content">
        <h2>Appointment Confirmed!</h2>
        <p>Thank you for booking an appointment with Dr. <span id="doctor-name">[Doctor's Name]</span>.</p>

        <!-- Appointment Details Section -->
        <div class="appointment-details">
            <h3>Appointment Details:</h3>
            <p><strong>Patient's Name:</strong> <span id="patient-name">[Patient Name]</span></p>
            <p><strong>Doctor's Name:</strong> <span id="doctor-name">[Patient Name]</span></p>
            <p><strong>Appointment Date:</strong> <span id="appointment-date">[Appointment Date]</span></p>
            <p><strong>Appointment Time:</strong> <span id="appointment-time">[Appointment Time]</span></p>
            <p><strong>Payment Method:</strong> <span id="payment-option">[Payment Option]</span></p>
        </div>

        
    </div>
    <button class="button" onclick="downloadPDF()">Download Confirmation</button>

    <script src="/static/js/acknow.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
</body>
</html>
