<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/edit_doctor.css">
    <link rel="stylesheet" href="/static/css/nav.css">
    <title>Add Doctor</title>
</head>
<body>
    <nav>
        <div class="logo-container">
          <img src="path_to_your_logo.png" alt="Logo" class="logo"> <!-- Replace with your logo image path -->
          <a href="ahome">
          <span class="site-title">LiveMedico</span> <!-- Replace with your site title -->
          </a>
        </div>
          <ul>
              <li><a href="ahome">Home</a></li>
              <li><a href="aappointments">All Appointments</a></li>
              <li class="profile">
                <a href="#" onclick="toggleDropdown(event)">
                  <img src="/static/images/user_pr.png" alt="user_profile" class="user_profile">
                </a>
                <div class="dropdown-menu">
                  <a href="alogout">Logout</a>
                </div>
              </li>
          </ul>
      </nav>
    <h1>Add Doctor</h1>
    <form action="{{ url_for('add')}}" method="POST">
        <label for="doctor_name">Name:</label>
        <input type="text" id="doctor_name" name="doctor_name"  required>
        
        <label for="doctor_speciality">Speciality:</label>
        <input type="text" id="doctor_speciality" name="doctor_speciality"  required>
        
        <label for="doctor_experience">Experience:</label>
        <input type="text" id="doctor_experience" name="doctor_experience"  required>
        
        <label for="doctor_username">Username:</label>
        <input type="text" id="doctor_username" name="doctor_username"  required>

        <label for="doctor_username">Password:</label>
        <input type="text" id="doctor_password" name="doctor_password"  required>
        
        <label for="doctor_city">City:</label>
        <input type="text" id="doctor_city" name="doctor_city"  required>
        
        <button type="submit">Add Doctor</button>
    </form>
    <script src="/static/js/ahome.js"></script>
</body>
</html>
