<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/plogin.css">
  <title>Patient Login</title>
</head>
<body class="login">
    <div class="loginContainer">
        <h1 class="login">Admin Login</h1>
        <form action="/alogin" method="post" id="patlogin" >
            <label class="pl">Username</label>
            <br>
            <input type="text" class="logTxt" placeholder="Enter your username" name="username" id="Username" required><br><br>
            <label class="pl">Password</label>
            <br>
            <input type="password" class="logTxt" placeholder="Enter your password" name="password" required><br><br>
            <button class="loginButton" type="submit">Login</button>
        </form>    
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
  
  
</body>
</html>
