<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock title %}</title>
</head>

<body class="{% block body_class %}default-body{% endblock %}">
    {% block body %}
    <!-- Default content if block is not overridden -->
    <p>Welcome to the default content!</p>
    {% endblock body %}

    <script src="/static/js/script.js"  defer></script>
</body>

</html>