<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/booking.css">
  <link rel="stylesheet" href="/static/css/nav.css">
  <title>Book</title>
</head>
<body>
  <nav>
    <div class="logo-container">
      <a href="phome">
      <span class="site-title">LiveMedico</span> <!-- Replace with your site title -->
      </a>
    </div>
      <ul>
          <li><a href="phome">Home</a></li>
          <li><a href="pappointment">My Appointments</a></li>
          <li><a href="tips">Health Tips</a></li>
          <li class="profile">
            <a href="#" onclick="toggleDropdown(event)">
              <img src="/static/images/user_pr.png" alt="user_profile" class="user_profile">
            </a>
            <div class="dropdown-menu">
              <a href="pprofile">User Profile</a>
              <a href="plogout">Logout</a>
            </div>
          </li>
      </ul>
  </nav>
  
    <h1>Book an Appointment</h1>

    
    {% for doctor in doctors %}
    <div class="doctor-card">
        <h2>{{ doctor[0] }}</h2>
        <p><strong>Specialization:</strong> {{ doctor[1] }}
          <div class="experience-booking">
            <p><strong>Experience:</strong> {{ doctor[2] }} years</p>
            <div class="button-container">
            <a href="book_details">
                <button class="booking-button" onclick="bookAppointment('{{ doctor[0] }}', '{{ doctor[1] }}', '{{ doctor[3] }}')">Book Appointment</button>
            </a>
            </div>
        </div>
    </div>
    {% endfor %}
  <script src="/static/js/booking.js"></script>
</body>
</html>
