<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/css/details.css">
  <title>Register</title>
</head>
<body class="login">
    <div class="loginContainer">
        <h1 class="login">Patient Details</h1>
    <form action="/details" method="post" onsubmit="return validateDateofBirth()" >
        <label class="pl">Name</label>
        <br>
        <input type="text" class="logTxt"  name="name" required><br><br>
        <label class="pl" name="dob" >Date Of Birth</label>
        <input type="date" class="logTxt"  name="dob" id="dob" required><br><br>
        <label class="pl" name="cn">Contact No.</label>
        <input type="tel"  class="logTxt"  name="cn" required><br><br>
        <label class="pl">City</label>
        <input type="text" class="logTxt" name="city" required><br><br>
        
        <button class="loginButton" type="submit">Register</button>
    </form>
    </div>
  <script src="/static/js/details.js"  defer></script>
</body>
</html>


