<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/pprofile.css">
  <link rel="stylesheet" href="/static/css/nav.css">

  <title>User Profile</title>
</head>
<body>
    <nav>
        <div class="logo-container">
          <a href="dhome">
          <span class="site-title">LiveMedico</span> <!-- Replace with your site title -->
          </a>
        </div>
          <ul>
              <li><a href="dhome">Home</a></li>
              <li><a href="dappointment">My Appointments</a></li>
              <li class="profile">
                <a href="#" onclick="toggleDropdown(event)">
                  <img src="/static/images/user_pr.png" alt="user_profile" class="user_profile">
                </a>
                <div class="dropdown-menu">
                  <a href="dprofile">User Profile</a>
                  <a href="dlogout">Logout</a>
                </div>
              </li>
          </ul>
      </nav>

  <div class="profile-container">
    <h1>Profile Details</h1>

    <table class="profile-table">
      <tr>
        <th>Field</th>
        <th>Details</th>
      </tr>
      <tr>
        <td><strong>Name:</strong></td>
        <td>{{ profile['doctor_name'] }} </td>
      </tr>
      <tr>
        <td><strong>Username:</strong></td>
        <td>{{ profile['doctor_username'] }} </td>
      </tr>
      <tr>
        <td><strong>Speciality:</strong></td>
        <td>{{ profile['doctor_speciality'] }}</td>
      </tr>
      <tr>
        <td><strong>Experience:</strong></td>
        <td>{{ profile['doctor_experience'] }} </td>
      </tr>

        <td><strong>City</strong></td>
        <td>{{ profile['doctor_city'] }} </td>
      </tr>
      <!-- Add any other user details you want to display -->
    </table>

   
  </div>

  <script src="/static/js/dprofile.js"></script>
</body>
</html>
