<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/pprofile.css">
  <link rel="stylesheet" href="/static/css/nav.css">
  <title>Edit Profile</title>
</head>
<body>
    <nav>
        <div class="logo-container">
          <a href="phome">
          <span class="site-title">LiveMedico</span> <!-- Replace with your site title -->
          </a>
        </div>
          <ul>
              <li><a href="phome">Home</a></li>
              <li><a href="pappointment">My Appointments</a></li>
              <li><a href="tips">Health Tips</a></li>
              <li class="profile">
                <a href="#" onclick="toggleDropdown(event)">
                  <img src="/static/images/user_pr.png" alt="user_profile" class="user_profile">
                </a>
                <div class="dropdown-menu">
                  <a href="pprofile">User Profile</a>
                  <a href="plogout">Logout</a>
                </div>
              </li>
          </ul>
      </nav>

  <div class="edit-profile-container">
    <h1>Edit Profile</h1>
    <form action="/editprofile" method="POST">
        <table>
          <tr>
            <td><strong>Name:</strong></td>
            <td><input type="text" id="name" name="name" value="{{ profile['patient_name'] }}" required></td>
          </tr>
          <tr>
            <td><strong>Email:</strong></td>
            <td><input type="email" id="email" name="email" value="{{ profile['patient_email'] }}" required></td>
          </tr>
          <tr>
            <td><strong>Username:</strong></td>
            <td><input type="text" id="username" name="username" value="{{ profile['patients_username'] }}" required></td>
          </tr>
          <tr>
            <td><strong>Date Of Birth:</strong></td>
            <td><input type="date" id="dob" name="dob" value="{{ profile['patient_dob'] }}" required></td>
          </tr>
          <tr>
            <td><strong>Contact No.:</strong></td>
            <td><input type="text" id="phone" name="phone" value="{{ profile['patient_cn'] }}" required></td>
          </tr>
          <tr>
            <td><strong>City:</strong></td>
            <td><input type="text" id="city" name="city" value="{{ profile['patient_city'] }}" required></td>
          </tr>
        </table>
        
        <div>
        
          <button type="submit">Update Profile</button>
        
        </div>
      </form>
      
    
  </div>

  <script src="/static/js/pprofile.js"></script>
</body>
</html>
