<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/index.css">
  <title>User</title>
</head>
<body class="login">
  <div id="buttons-container">
    <button class="index"  id="patient">Patient Login</button>
    <button class="index" id="doctor">Doctor Login</button>
    <button class="index"  id="admin">Admin Login</button>
  </div>
  <script src="/static/js/index.js"  defer></script>
</body>
</html>