<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/pprofile.css">
  <link rel="stylesheet" href="/static/css/nav.css">

  <title>User Profile</title>
</head>
<body>
  <nav>
    <div class="logo-container">
      <img src="path_to_your_logo.png" alt="Logo" class="logo"> <!-- Replace with your logo image path -->
      <a href="phome">
      <span class="site-title">LiveMedico</span> <!-- Replace with your site title -->
      </a>
    </div>
      <ul>
          <li><a href="phome">Home</a></li>
          <li><a href="pappointment">My Appointments</a></li>
          <li><a href="tips">Health Tips</a></li>
          <li class="profile">
            <a href="#" onclick="toggleDropdown(event)">
              <img src="/static/images/user_pr.png" alt="user_profile" class="user_profile">
            </a>
            <div class="dropdown-menu">
              <a href="pprofile">User Profile</a>
              <a href="plogout">Logout</a>
            </div>
          </li>
      </ul>
  </nav>

  <div class="profile-container">
    <h1>Profile Details</h1>

    <table class="profile-table">
      <tr>
        <th>Field</th>
        <th>Details</th>
      </tr>
      <tr>
        <td><strong>Name:</strong></td>
        <td>{{ profile['patient_name'] }} </td>
      </tr>
      <tr>
        <td><strong>Email:</strong></td>
        <td> {{ profile['patient_email'] }}</td>
      </tr>
      <tr>
        <td><strong>Username:</strong></td>
        <td>{{ profile['patients_username'] }} </td>
      </tr>
      <tr>
        <td><strong>Date Of Birth:</strong></td>
        <td>{{ profile['patient_dob'] }} </td>
      </tr>
      <tr>
        <td><strong>Contact No.:</strong></td>
        <td> {{ profile['patient_cn'] }}</td>
      </tr>
      <tr>
        <td><strong>City:</strong></td>
        <td>{{ profile['patient_city'] }} </td>
      </tr>
      
      <!-- Add any other user details you want to display -->
    </table>

    <div class="edit-button">
      <a href="editprofile">
        <button>Edit Profile</button>
      </a>
    </div>
  </div>

  <script src="/static/js/pprofile.js"></script>
</body>
</html>
