<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Login Test</title>
</head>
<body>

    <form id="patlogin">
        <label>Username</label><br>
        <input type="text" id="Username" placeholder="Enter your username" required><br><br>
        <button type="submit">Login</button>
    </form>

    <h1 id="patientNameDisplay">Welcome!</h1>

    
    <script src="/static/js/script.js"  defer></script>


</body>
</html>
