<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/pappointment.css">
  <link rel="stylesheet" href="/static/css/nav.css">

  <title>Users</title>
</head>
<body>
    <nav>
        <div class="logo-container">
          <img src="path_to_your_logo.png" alt="Logo" class="logo"> <!-- Replace with your logo image path -->
          <a href="ahome">
          <span class="site-title">HealthCare</span> <!-- Replace with your site title -->
          </a>
        </div>
          <ul>
              <li><a href="ahome">Home</a></li>
              <li><a href="aappointments">All Appointments</a></li>
              <li class="profile">
                <a href="#" onclick="toggleDropdown(event)">
                  <img src="/static/images/user_pr.png" alt="user_profile" class="user_profile">
                </a>
                <div class="dropdown-menu">
                  <a href="alogout">Logout</a>
                </div>
              </li>
          </ul>
      </nav>
    <table>
        <thead>
            <tr>
              <th>Patient Id</th>
              <th>Patient Name</th>
              <th>Patient Email</th>
              <th>Pateint Username</th>
              <th>Patient Hashed Password</th>
              <th>Patient DoB</th>
              <th>Patient Contact</th>
              <th>Patient City</th>
            </tr>
        </thead>
        <tbody>
            {% if patients %}
                {% for patient in patients %}
                    <tr>
                        <td>{{ patient['patient_id'] }}</td>
                        <td>{{ patient['patient_name'] }}</td>
                        <td>{{ patient['patient_email'] }}</td>
                        <td>{{ patient['patients_username'] }}</td>
                        <td>{{ patient['patient_password'] }}</td>
                        <td>{{ patient['patient_dob'] }}</td>
                        <td>{{ patient['patient_cn'] }}</td>
                        <td>{{ patient['patient_city'] }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">No appointments found.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
      <script src="/static/js/pprofile.js"></script>
    </body>
    </html>